/*zerando padding e margin global*/
* {
    padding:0;
    margin: 0;
    
}

/*tirando marcação inferior em baixo do link*/
a{

text-decoration: none;
color: white;

}

/*a hover para efeito nos links a*/
a :hover{

    color:#A7EBA9;

}

header{

    background-color: #415880;
    color: #E1E2FF;
}

/*setando cor para o fundo*/
body{

    background-color: #E1E2FF;

}

/*setando tamanho das imagens*/
img{

    width: 200px;
    height: 200px;
    border-radius:20px;
    box-shadow:0px 10px 50px rgba(0, 0, 0, 0.5);

}

/*ajustando altura de algun icones*/
i {

    margin-top: 8px;

}

/* montando header*/
.cabecalho {

   
    color:white;
    
}

.sub {

    justify-content: space-between;
    display: flex;
    max-width: 1200px;
    margin: auto;
    align-items: baseline;
   
    

}

.sub div{

margin: 15px;

}

/*alguns ajustes para alinhamento e organização*/


.itensCarrinho{

    display: flex;
}

/*main ajustes*/

.container #Produtos{

    max-width:1200px;
    margin: auto;
    align-content:center;
    font-size: 12px;   
}

.container #Produtos div{
    flex: auto;
    padding: 10px;
    gap: 10px;
    text-align: center;
}

#Produtos{
    max-width:1200px;
    flex-wrap: wrap;
    display: flex;
}

#Produtos  a {
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:25px;
    background-color:#388bc5;
    text-align:center;
    color:#FFF;
    font-size:30px;
    cursor:pointer;
    margin-top:-60px;
    transition:all ease .2s;
}

#Produtos div {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#Produtos p {

    font-size: 16px;
    margin: -5px;
    
}